# Ignoring compilation files/mac files/dev env files
.vscode/
.DS_Store
*.pyc
# Ignoring created output app data during development
/App Data/*
# Ignoring created UI Testing folder from development
/UI Testing/*
# Ignoring build/distribution files
ultrasound_grader/build/*
ultrasound_grader/dist/*
ultrasound_grader/ultrasound_grader.spec
