# Ignoring local files
.DS_Store
*.pyc
*.pptx
# Ignoring virtual environment files
venv_arm64/
venv_x86/
# Ignoring distribution build files
build/
dist/
*.spec
# Ignoring installers
installers/arm64_installer/
installers/x86_installer/