altgraph==0.17.5
macholib==1.16.4
numpy==2.2.6
packaging==26.0
pandas==2.3.3
pyinstaller==6.18.0
pyinstaller-hooks-contrib==2026.0
PyQt6==6.10.2
PyQt6-Qt6==6.10.2
PyQt6_sip==13.11.0
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
tzdata==2025.3
openpyxl==3.0.1
